.post__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 9px 0 9px 9px;
  background: #ffffff;
  min-width: 320px;
  max-width: 100%;
}

.name__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  // min-width:min-content;
}

.avatar__cirkle {
  padding-left: 16px;
  background: #ffffff;
}

.user__name {
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
  color: #262626;
  padding-left: 12px;
  background: #ffffff;
}

.more__options {
  width: 48px;
  height: 42px;
  background: url(../../../assets/Icons/More.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: white;
}

@media screen and (max-width: 1020px) {
  .post__header {
    margin: 0 auto;
  }
}
