.toogle__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #dbdbdb 1px solid;
  }
  
  .btn__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 0px;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .btn {
    padding: 0px 0px 0px 6px;
    font-size: 12px;
    line-height: 18px;
    color: #8e8e8e;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  .active {
    color: #262626;
  }
  
  .opacity {
    opacity: 0.5;
  }
  
  .image {
    width: 17px;
  }
  
  .border {
    border-top: black 1px solid;
  }
  
  @media screen and (max-width: 500px) {
    .btn__wrapper {
      margin: 0 20px;
      flex-direction: column;
    }
  }
  