.footer__wrapper {
  padding: 8px 16px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
}

.comment__container {
  background: #ffffff;
}

.icons {
  display: flex;
  justify-content: space-between;
  height: 54px;
  align-items: center;
  background: #ffffff;
}

.btn {
  border: none;
  background: #ffffff;
}

.icons--left {
  display: flex;
  background: #ffffff;
}

.icon {
  margin: 8px 8px 0 8px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: #ffffff;
}

.likes,
.name {
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  background: #ffffff;
}

.comment__counter {
  color: #8e8e8e;
  margin: 5px 0;
  font-size: 14px;
  line-height: 18px;
  background: #ffffff;
}

.time {
  text-transform: uppercase;
  color: #8e8e8e;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.2px;
  background: #ffffff;
}

.comment__wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
  padding: 6px 16px;
  background: #ffffff;
}

.new__comment {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.comment__input {
  width: 100%;
  height: 100%;
  border: none;
  background: #ffffff;
  padding: 10px 0;
}

.post__btn {
  border: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0095f6;
  background: #ffffff;
}

.comment__emoji {
  margin-right: 16px;
  background: #ffffff;
}
