<div class="footer__wrapper">
  <div class="icons">
    <div class="icons--left">
      <img
        *ngIf="!postLiked"
        class="icon"
        (click)="clickLike()"
        src="../../../assets/Icons/ActivityFeed.svg"
      />
      <img
        *ngIf="postLiked"
        class="icon"
        (click)="clickLike()"
        src="../../../assets/Icons/ActivityFeed-Fiil.svg"
      />
      <img class="icon" src="../../../assets/Icons/Comment.svg" />
      <img class="icon" src="../../../assets/Icons/SharePosts.svg" />
    </div>
    <div class="icons--right">
      <button *ngIf="postSaved" (click)="clickSave()" class="btn">
        <img class="icon" src="../../../assets/Icons/Save.svg" />
      </button>
      <button *ngIf="!postSaved" (click)="clickSave()" class="btn">
        <img class="icon" src="../../../assets/Icons/icons8-save-64.png" />
      </button>
    </div>
  </div>
  <div class="likes">{{ likes }} likes</div>

  <div class="comment__container">
    <span class="name">{{ user.foolName }}</span> <div>{{ comments }}</div>
    <div class="comment__counter">View all {{ commentsCount }} comments</div>
    <div class="time">1 hour ago</div>
  </div>
</div>
<div class="comment__wrapper">
  <img class="comment__emoji" src="../../../assets/Icons/Emoji.svg" />
  <input
    #comment
    class="comment__input"
    type="text"
    name="text"
    id="text"
    placeholder="Add a comment.."
  />
  <button (click)="addComment(comment.value)" class="post__btn">Post</button>
</div>
