<div class="posts">
  <div class="row middle-xs center-xs">
    <div class="col-xs-12 col-md-6">
      <div class="left__box">
        <div class="images__container">
          <img
            class="image"
            src="../../../assets/Images/Profile-Pic-S-2.1.png"
          />
          <img
            class="image"
            src="../../../assets/Images/Profile-Pic-S-3.1.png"
          />
          <img
            class="image"
            src="../../../assets/Images/Posts/Small-Post.png"
          />
          <img
            class="image"
            src="../../../assets/Images/Profile-Pic-S-7.1.png"
          />
          <img class="image" src="" />
          <img
            class="image"
            src="../../../assets/Images/Profile-Pic-S-3.1.png"
          />
          <img class="image" src="" />
          <img
            class="image"
            src="../../../assets/Images/Profile-Pic-S-2.1.png"
          />
          <img class="image" src="" />
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="right__box">
        <h1 class="posts__title">Start capturing and sharing your moments</h1>
        <p class="posts__text">
          Get the app to share your first photo or video
        </p>
        <div class="app__wrapper">
          <img src="../../../assets/Images/GooglePlay-Banned.svg" alt="" />
          <img src="../../../assets/Images/AppStore-Banned.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="page-footer"></app-footer>
