.right__content--wrapper {
  text-align: center;
  padding: 100px 50px;
  margin: 22px 0;
  border: 1px solid #dbdbdb;
  height: 100%;
}

.message__icon--wrapper {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-image: url(../../../assets/Icons/SharePosts.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.message__icon {
  border-radius: 50%;
}

.message__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 17px;
  color: #262626;
  padding: 15px 0 8px;
}

.message__text {
  font-size: 14px;
  line-height: 11px;
  color: #8e8e8e;
  padding: 15px 0 16px;
}

.message__btn {
  background: #0095f6;
  border-radius: 4px;
  padding: 6px 9px;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .message__icon--wrapper {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url(../../../assets/Icons/SharePosts.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .right__content--wrapper {
    text-align: center;
    padding: 80px 5px;
    margin: 22px 0;
    border: 1px solid #dbdbdb;
    height: 100%;
  }
}
