<section class="product">
  <div class="container__fluid">
    <div class="slider__wrapper">
      <div class="slider__main">
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Icons/Avatar-Profile-Pic.svg"
              alt=""
            />
          </div>
          <span class="story__text">YOUR STORY</span>
        </div>

        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-4.png"
              alt=""
            />
          </div>
          <span class="story__text">edna</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-5.png"
              alt=""
            />
          </div>
          <span class="story__text">christina</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-6.png"
              alt=""
            />
          </div>
          <span class="story__text">lorem</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-1.png"
              alt=""
            />
          </div>
          <span class="story__text">lorem</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-2.png"
              alt=""
            />
          </div>
          <span class="story__text">lorem</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-3.png"
              alt=""
            />
          </div>
          <span class="story__text">harry</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-4.png"
              alt=""
            />
          </div>
          <span class="story__text">edna</span>
        </div>
        <div class="item">
          <div class="image__wrapper">
            <img
              class="image"
              src="../../../assets/Images/Profile-Pic-S-5.png"
              alt=""
            />
          </div>
          <span class="story__text">christina</span>
        </div>
      </div>
      <div class="btn__area">
        <button class="next__btn" appNextBtn></button>
      </div>
    </div>
  </div>
</section>
