.story__section-wrapper {
  min-width: 320px;
  max-width: 100%;
  padding: 60px 0px 0px;
}

.story__section {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 17px 0px;
  position: relative;
}
