.story__wrapper {
  width: fit-content;
  background-color: transparent;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.story__image {
  max-width: 77px;
  max-height: 77px;
}

.story__text {
  padding: 5px 0px;
}
