<div class="images__container">
  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/My-Post1.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/My-Post5.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/My-Post6.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Carousel.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img
      class="image"
      src="../../../assets/Images/Posts/Profile-Pic-S-2.1.png"
    />
    <span><img class="image__icon" src="" alt="" /></span>
  </div>

  <div class="image__wrapper">
    <img
      class="image"
      src="../../../assets/Images/Posts/Profile-Pic-S-3.1.png"
    />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img
      class="image"
      src="../../../assets/Images/Posts/Profile-Pic-S-7.1.png"
    />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Carousel.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/Small-Post.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/Small-Post1.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/Small-Post3.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Carousel.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/Small-Post4.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img
      class="image"
      src="../../../assets/Images/Posts/Profile-Pic-S-3.1.png"
    />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Posts/My-Post1.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>
</div>
<app-footer></app-footer>
