<div class="images__container">
  <div class="image__wrapper">
    <img class="image" src="../../../assets/Images/Profile-Pic-S-2.1.png" />
    <span
      ><img class="image__icon" src="../../../assets/Icons/Reels.svg" alt=""
    /></span>
  </div>

  <img class="image" src="../../../assets/Images/Profile-Pic-S-3.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-7.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-3.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-2.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-7.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-3.1.png" />
  <img class="image" src="" />
  <img class="image" src="../../../assets/Images/Profile-Pic-S-2.1.png" />
  <img class="image" src="" />
</div>
