<div class="menu__buttons">
  <button
    class="btn btn__home"
    routerLink="home"
    routerLinkActive="btn__home-active"
  ></button>
  <button
    class="btn btn__messenger"
    routerLink="messenger"
    routerLinkActive="btn__messenger-active"
  ></button>
  <button
    class="btn btn__post"
    routerLink=""
    routerLinkActive="btn__post-active"
  >
    <img src="../../../assets/Icons/NewPosts.svg" />
  </button>
  <button
    class="btn btn__people"
    routerLink="user-profile"
    routerLinkActive="btn__people-active"
  ></button>
  <button
    class="btn btn__activity"
    routerLink="explore"
    routerLinkActive="btn__activity-active"
  ></button>
  <button
    class="btn btn__my-profile"
    routerLink="my-profile"
    routerLinkActive="btn__my-profile-active"
  >
    <img src="../../../assets/Icons/Profile-Pic-S.svg" />
  </button>
</div>
