<div class="profile__header--wrapper">
  <div class="row center-xs">
    <div class="col-xs-10">
      <div class="row start-xs">
        <div class="col-xs-4">
          <div class="box">
            <img src="../../../assets/Icons/Profile-Pic-SP.png" />
          </div>
        </div>
        <div class="col-xs-8">
          <div class="box">
            <div class="box__title">
              <div><span class="title">i.slimeee___</span></div>
              <div><button class="edit__btn">Edit Profile</button></div>
              <div><img src="../../../assets/Icons/Options.svg" /></div>
            </div>
            <div class="box__content">
              <div><span class="bold__span">0</span><span> posts</span></div>
              <div>
                <span class="bold__span">91.7k</span><span> followers</span>
              </div>
              <div>
                <span class="bold__span">500</span>
                <span> following</span>
              </div>
            </div>
          </div>
          <span class="bold__span">Maxwell</span>
        </div>
      </div>
    </div>
  </div>
</div>
