.profile__header--wrapper {
  margin-top: 20px;
  background-color: #fafafa;
  margin-bottom: 30px;
  width: 100%;
}

.bold__span {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  max-width: fit-content;
}

.box__title,
.box__content {
  display: flex;
  flex-direction: row;
}

.box__content {
  margin: 20px 0;
}

.title {
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #262626;
}

.edit__btn {
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #262626;
  padding: 6px 10px;
  margin: 0 20px;
}

.box__content div {
  margin-right: 40px;
}

@media screen and (max-width: 790px) {
  .box__content {
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
  }

  .box__title {
    flex-direction: column;
    margin-right: 15px;
  }

  .edit__btn {
    margin: 10px 0;
  }

  .box {
    flex-direction: row;
    margin-top: 14px;
    max-width: fit-content;
  }
}

@media screen and (max-width: 430px) {
  .box__content {
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
  }

  .title {
    font-size: 18px;
  }

  .bold__span {
    font-size: 12px;
  }
}
