.navigation__wrapper {
  padding: 13px 0 0 8px;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  flex-wrap: wrap;
  min-width: 320px;
}

::placeholder {
  background: url(../../../assets/Icons//Search.svg);
  background-repeat: no-repeat;
  background-position: 35px;
  color: #8e8e8e;
  text-align: center;
}

.search__input {
  padding: 4px 30px;
  color: #8e8e8e;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

hr.border {
  border: 1px solid #dbdbdb;
  margin: 0;
}
