<div class="navigation__wrapper">
  <img src="../../../assets/Logo.svg" />

  <label class="search__label">
    <input class="search__input" type="text" placeholder="Search" />
  </label>

  <span class="menu__buttons">
    <button class="btn btn__home">
      <img src="../../../assets/Icons/Home-fill.svg" />
    </button>
    <button class="btn btn__home">
      <img src="../../../assets/Icons/Messenger.svg" />
    </button>
    <button class="btn btn__home">
      <img src="../../../assets/Icons/NewPosts.svg" />
    </button>
    <button class="btn btn__home">
      <img src="../../../assets/Icons/FindPeople.svg" />
    </button>
    <button class="btn btn__home">
      <img src="../../../assets/Icons/Profile-Pic-S.svg" />
    </button>
  </span>
</div>
