.story__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  background: #ffffff;
}

.story__wrapper {
  background-color: transparent;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  background: #ffffff;
}

.image__wrapper {
  background-color: transparent;
  max-width:max-content;
  width: fit-content;
  border-radius: 50%;
  border: 2.5px solid transparent;
  background: linear-gradient(to bottom, #de0046 0%, #f7a34b 100%) border-box;
}

.image {
  padding: 2.5px;
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
  border: transparent;
}

.story__text {
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: lowercase;
  color: #262626;
  background: #ffffff;
}
